.form-control {
  padding: 0.5rem 1rem !important;
  color: #333;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  opacity: 8;
}
.btn-contact {
  background-image: linear-gradient(to right, #1eb0ea, #21a6bd, #10c9d0);

  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.contact-section {
  padding: 10rem 0;
  background-color: #f0eeee44;
}
.contact-section form input:focus,
.contact-section form input:active {
  outline: 0px !important;
  box-shadow: none !important;
  border: solid 1px #21a6bd33 !important;
}
