// icons
footer a {
  text-decoration: none;
  color: #333;
}

.social-icon {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid #ddd;
  border-radius: 50%;
  color: #333;
  //   font-size: 22px;
  margin-right: 0.25px;
}
.form-group {
  // Remove hover and focus effects
  &:hover,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

.form-control {
  border: 1px solid #ddd;
  padding: 2.25px;
}

.input-group-append {
  // Style the button container
  display: flex;
  align-items: center;
  padding: 3px;
}

.btn-ok {
  // Style the button
  background-image: linear-gradient(to right, #1eb0ea, #21a6bd, #10c9d0);

  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
