.hero-section {
  width: 100vw;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(/assets/hero.jpg);
  padding: 12% 0;
  margin-bottom: 5rem;
}
