.navbar {
  height: 80px;
}
.download {
  outline: none;
  border: none;
  background-image: linear-gradient(
    to right,
    #2d5796,
    #004a7c,
    #006289,
    #007a90,
    #24868a
  );
  color: #fff;
  padding: 2px;
}
.extra-margin {
  margin-top: 80px;
}
