.navbar {
  height: 80px;
}
.download {
  outline: none;
  border: none;
  background-image: linear-gradient(
    to right,
    #1eb0ea,
    #21a6bd,
    #10c9d0
  );
  color: #fff;
  padding: 2px;
}
.extra-margin {
  margin-top: 80px;
}
