@import "nav";
@import "footer";
@import "caroseal";
@import "hero";
@import "cta";
@import "specification";

body {
  background-color: #ddd;
}
body p::selection {
  background-color: #10c9d0;
  color: #fff;
}
.btn:hover {
  background-image: linear-gradient(to right, #10c9d0, #21a6bd, #1eb0ea);
}

.margin {
  margin-top: 80px;
}
// import file sass bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";
